@blue: #00d0e6;
@darken-blue: #007784;
@yellow: #fff6cb;
@orange: #ffa128;
@lime: #e2eaa3;
@purple: #aa92ae;
@grey: #414142;
@white: #ffffff;
@rice: #f9f7f4;
@brown: #b4a36c;
@orange: #e09a40;

input, textarea, :focus { outline: none; }

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}

::-webkit-input-placeholder { color: @white; font-weight: 300; font-family: 'Quicksand', sans-serif; }
:-moz-placeholder { color: @white; font-weight: 300; font-family: 'Quicksand', sans-serif; }
::-moz-placeholder { color: @white; font-weight: 300; font-family: 'Quicksand', sans-serif; }
:-ms-input-placeholder { color: @white; font-weight: 300; font-family: 'Quicksand', sans-serif; }